<section>
	<h3 class="hide">Login to the app</h3>

	<form ng-submit="submitLoginForm()">
	  <div class="form-group">
	    <label for="formuser">Username</label>
	    <input type="text" id="formuser" class="form-control" ng-model="form.username" placeholder="">
	  </div>
	  <div class="form-group">
	    <label for="formpwd">Password</label>
	    <input type="password" id="formpwd" class="form-control" ng-model="form.password" placeholder="">
	  </div>

	  <button type="submit" class="btn btn-default">Login</button>
      <span class="label label-danger" ng-show="message">{{message}}</span>
	</form>

</section>