<section class="ng-cloak">
    <h3>Create new product</h3>

    <div class="text-center" ng-show="requesting">Loading</div>

    <div ng-hide="requesting">
        <div ng-hide="success">
            <form ng-submit="create()">
              <div class="form-group">
                <label for="input-name">Name</label>
                <input type="text" class="form-control" id="input-name" placeholder="Chocolate" ng-model="product.name" />

              </div>
              <div class="form-group">
                <label for="input-price">Price</label>
                <input type="number" class="form-control" id="input-price" placeholder="56.43" ng-model="product.price" />
              </div>
              <div class="form-group">
                <label for="input-description">Description</label>
                <textarea class="form-control" rows="3" id="input-description" placeholder="Cheapest and beautiful" ng-model="product.description"></textarea>
                <p class="help-block">Enter a long description.</p>
              </div>

              <div class="text-right">
                <button type="submit" class="btn btn-primary">SAVE</button>
              </div>
            </form>
        </div>
        
        <div ng-show="success">
            <div class="alert alert-success">
                <h4>Thank you!</h4>
                <p>The product was successfully saved :)</p>
                <p>Now you can view it in the <a href="/#/products"><b>list</b></a>
                <p>
                    Or maybe want to <a href="" ng-click="createAgain()">create another product</a>
                  </a>
                </p>
            </div>
        </div>
    </div>
</section>